# Tipos básicos

In [1]:
# =========================
# 1. Tipos básicos
# =========================

# Números inteiros
x = 10
print(x, type(x))

# Números decimais
y = 3.14
print(y, type(y))

# Booleanos
flag = True
print(flag, type(flag))

# Strings
name = "Python"
print(name, type(name))

# None (ausência de valor)
nada = None
print(nada, type(nada))

10 <class 'int'>
3.14 <class 'float'>
True <class 'bool'>
Python <class 'str'>
None <class 'NoneType'>

# Operadores aritméticos

In [2]:
# =========================
# 2. Operadores aritméticos
# =========================

a, b = 7, 3

print("a + b =", a + b)   # adição
print("a - b =", a - b)   # subtração
print("a * b =", a * b)   # multiplicação
print("a / b =", a / b)   # divisão com float
print("a // b =", a // b) # divisão inteira
print("a % b =", a % b)   # resto da divisão
print("a ** b =", a ** b) # potência

a + b = 10
a - b = 4
a * b = 21
a / b = 2.3333333333333335
a // b = 2
a % b = 1
a ** b = 343

# Operadores de comparação

In [3]:
# =========================
# 3. Operadores de comparação
# =========================

print(5 == 5)   # igual
print(5 != 3)   # diferente
print(2 < 5)    # menor
print(10 > 5)   # maior
print(3 <= 3)   # menor ou igual
print(8 >= 2)   # maior ou igual

# Comparando strings (ordem lexicográfica)
print("abc" < "abd")

True
True
True
True
True
True
True

# Tabela Verdade

## and &&



```
A     | B     | A and B
True  | True  | ✅
True  | False | ❌
False | True  | ❌
False | False | ❌
```

## or |



```
OR (A or B)
A     | B     | A or B
True  | True  | ✅
True  | False | ✅
False | True  | ✅
False | False | ❌
```

## not !



```
NOT (not A)
A     | not A
True  | ❌
False | ✅
```